*.iml
.gradle
/local.properties

/.idea
# /.idea/gradle.xml内配置了as可直接运行java main函数
# git add -f .idea/gradle.xml //强制添加
!/.idea/gradle.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.log
