<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidlesson">
        <activity
            android:name=".listview.ListViewDemoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dialog.DialogDemoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".butterknife.ButterKnifeTestActivity"
            android:exported="true" />
        <activity
            android:name=".multitype.normal.NormalActivity"
            android:exported="true" />
        <activity android:name=".tablayout.TabLayoutDemoActivity" />
        <activity android:name=".gridview.GridViewDemoActivity" />
        <activity
            android:name=".UIMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.ui.moudle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toolbar.ToolbarSimpleActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>