<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_lesson">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidlesson">
        <activity
            android:name=".ui.tablayout.IndicatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tablayout.TabLayoutSimpleActivity"
            android:exported="false" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity android:name=".ui.dialog.DialogSampleActivity" />
        <activity
            android:name=".communication.intent.JumpActionActivity"
            android:exported="true">
            <intent-filter>

                <!-- 隐式跳转action -->
                <action android:name="com.example.action.ui.moudle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".db.sqllite.SqliteTestActivity" />
        <activity
            android:name=".ui.recyclerview.headerfooter.FooterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recyclerview.multitype.MultiTypeItemActivity"
            android:exported="false" />
        <activity android:name=".ui.recyclerview.headerfooter.HeaderAndFooterUseActivity" />
        <activity
            android:name=".ui.recyclerview.RecyclerViewEntryActivity"
            android:exported="false" />
        <activity android:name=".ui.recyclerview.expandable.ExpandableUseActivity" />
        <activity
            android:name=".ui.recyclerview.expandable.BaseRecyclerViewActivity"
            android:exported="false" />
        <activity android:name=".ui.toolbar.ToolbarSimpleActivity" />
        <activity
            android:name=".ui.tablayout.customtab.TabLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recyclerview.general.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".async.rxjava.RxjavaActivity"
            android:exported="false" />
        <activity
            android:name=".async.AsyncActivity"
            android:exported="false" />
        <activity
            android:name=".memory.MemorySamplesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ButterKnifeTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".ui.chapter_3.TestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".ui.chapter_3.DemoActivity_1"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name=".ui.chapter_3.DemoActivity_2"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name=".ui.chapter_3.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity android:name=".ui.chapter_3.ViewActivity" />
        <activity
            android:name=".ui.custom.CustomViewSimpleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UIEntryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.circleprogress.CircleViewSampleActivity"
            android:exported="false" />
        <activity android:name=".ui.live.HeartFlowActivity" />
        <activity
            android:name=".ui.constraintlayout.ConstraintLayoutSampleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.input.SoftInputSampleActivityJava"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.input.SoftInputSampleActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".jetpack.JetpackSampleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dagger.DaggerActivity"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".wallet.ImportWalletActivity"
            android:exported="false" />
        <activity
            android:name=".webview.JavaJSCallActivity"
            android:exported="false" />
        <activity
            android:name=".webview.WebViewDemoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.video.VideoDemoActivity"
            android:exported="true" />
        <activity
            android:name=".ipc.binder.bigbitmap.ReceiverBigBitmapActivity"
            android:exported="true" />
        <activity
            android:name=".ipc.IPCTestActivity"
            android:exported="true" />
        <activity android:name=".ipc.aidl.AIDLClientActivity" />

        <service
            android:name=".ipc.aidl.RemoteService"
            android:enabled="true" />

        <activity
            android:name=".service.bind.BIndServiceTestActivity"
            android:exported="true" />

        <service
            android:name=".service.start.MusicService"
            android:enabled="true" />

        <activity
            android:name=".service.start.ServiceTestActivity"
            android:exported="true" />

        <service
            android:name=".service.bind.MyBindService"
            android:enabled="true" />

        <activity android:name=".communication.eventbus.BActivity" />
        <activity android:name=".communication.eventbus.AActivity" />
        <activity android:name=".communication.CommunicateActivity" />
        <activity
            android:name=".ui.dispatcheventdemo.customview.NewCardTestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.dispatcheventdemo.DispatchEventDemoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>