<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name="com.example.guo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidlesson" >
        <activity
            android:name="com.example.guo.ui.activity.FullscreenDynamicActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.fragment.FragmentSamplesActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.activity.orientation.ActivityOrientationSampleActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.clipboard.ClipboardSampleActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.video.VideoOrientation2Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="fullSensor"
            android:supportsPictureInPicture="false" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.video.VideoEntryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.video.VideoOrientationActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.example.guo.communication.sharedvm.CActivity" />
        <activity
            android:name="com.example.guo.communication.sharedvm.AFgm2BFgm2CActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.SplitListActivityStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.DetailActivityStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.SummaryActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.PlaceholderActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.DetailActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name="com.example.guo.ui.largescreen.embedding.SplitListActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.largescreen.BigScreenSamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.largescreen.responsiveviews.ResponsiveViewsSampleActivity"
            android:exported="true"
            android:label="@string/title_activity_responsive_views_sample"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Androidlesson.NoActionBar"
            tools:targetApi="24" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.activity.ActivitySamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.activity.FullScreenThemeActivity"
            android:exported="true"
            android:theme="@style/Theme.FullscreenActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.activity.TransparentActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentActivity" />
        <activity
            android:name="com.example.guo.ui.toast.ToastSampleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.recyclerview.nested.NestedRecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.statebar.immersive.ImmersiveStatusBarActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.guo.ui.textview.linehead.TextViewLineHeadActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.sidebar.SideBarActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.activity.task.Activity2"
            android:exported="false"
            android:taskAffinity="com.darren.affinity.sample" />
        <activity
            android:name="com.example.guo.ui.activity.task.Activity1"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.loading.LoadingActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.textview.classifier.TextClassifierActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.textview.select.im.MsgListTextSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.textview.select.TextSelectSampleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.webview.CustomWebViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.textview.TextViewSampleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.jni.JNISampleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.tablayout.IndicatorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.tablayout.TabLayoutSimpleActivity"
            android:exported="false" />
        <activity android:name="com.example.guo.ui.dialog.DialogSampleActivity" />
        <activity
            android:name="com.example.guo.communication.intent.JumpActionActivity"
            android:exported="true" >
            <intent-filter>

                <!-- 隐式跳转action -->
                <action android:name="com.example.action.ui.moudle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.guo.storage.db.sqllite.SqliteTestActivity" />
        <activity
            android:name="com.example.guo.ui.recyclerview.headerfooter.FooterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.recyclerview.multitype.MultiTypeItemActivity"
            android:exported="false" />
        <activity android:name="com.example.guo.ui.recyclerview.headerfooter.HeaderAndFooterUseActivity" />
        <activity
            android:name="com.example.guo.ui.recyclerview.RecyclerViewEntryActivity"
            android:exported="false" />
        <activity android:name="com.example.guo.ui.recyclerview.expandable.ExpandableUseActivity" />
        <activity android:name="com.example.guo.ui.toolbar.ToolbarSimpleActivity" />
        <activity
            android:name="com.example.guo.ui.tablayout.customtab.TabLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.recyclerview.general.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.async.rxjava.RxjavaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.async.AsyncActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.memory.MemorySamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.ButterKnifeTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name="com.example.guo.ui.chapter_3.TestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name="com.example.guo.ui.chapter_3.DemoActivity_1"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name="com.example.guo.ui.chapter_3.DemoActivity_2"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name="com.example.guo.ui.chapter_3.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity android:name="com.example.guo.ui.chapter_3.ViewActivity" />
        <activity
            android:name="com.example.guo.ui.customview.CustomViewSimpleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.UIEntryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.CircleViewSampleActivity"
            android:exported="false" />
        <activity android:name="com.example.guo.ui.live.HeartFlowActivity" />
        <activity
            android:name="com.example.guo.ui.textview.spannable.SpannableSampleActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.guo.ui.input.SoftInputActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.guo.ui.input.SoftInputSampleActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.guo.ui.jetpack.JetpackSampleActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.guo.di.dagger.DaggerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.wallet.WalletActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.guo.wallet.ImportWalletActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.webview.JavaJSCallActivity"
            android:exported="false" />
        <activity
            android:name="com.example.guo.ui.webview.WebViewDemoActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.guo.ui.video.MediaPlayerSampleActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="com.example.guo.communication.ipc.binder.bigbitmap.ReceiverBigBitmapActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.communication.ipc.IPCTestActivity"
            android:exported="true" />
        <activity android:name="com.example.guo.communication.ipc.aidl.AIDLClientActivity" />
        <activity
            android:name="com.example.guo.ui.service.BIndServiceTestActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.service.StartServiceTestActivity"
            android:exported="true" />
        <activity android:name="com.example.guo.communication.eventbus.BActivity" />
        <activity android:name="com.example.guo.communication.eventbus.AActivity" />
        <activity android:name="com.example.guo.communication.CommunicateActivity" />
        <activity
            android:name="com.example.guo.ui.customview.NewCardTestActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.dispatchevent.DispatchEventDemoActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.ui.animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.guo.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.guo.service.bind.MyBindService"
            android:enabled="true" />
        <service
            android:name="com.example.guo.communication.ipc.aidl.RemoteService"
            android:enabled="true" />
        <service
            android:name="com.example.guo.service.start.MusicService"
            android:enabled="true" />
        <service android:name="com.example.guo.service.start.ClipboardMonitorService" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" /> <!-- 今日头条屏幕适配设计稿尺寸 -->
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />
        <!--
 activity 嵌入分屏
        告知系统您的应用已实现 activity 嵌入
        -->
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />
    </application>

</manifest>